body{
font-family:'Manrope',sans-serif;
margin:0;
background:#fff4f8;
color:#333;
text-align:center;
}

header{
background:white;
padding:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
position:sticky;
top:0;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

nav a{
margin:0 10px;
text-decoration:none;
font-weight:600;
color:#555;
}

.hero{
padding:60px 20px;
}

/* avatar nhỏ */

.avatar{
width:110px;
height:110px;
border-radius:50%;
object-fit:cover;
border:4px solid white;
box-shadow:0 8px 30px rgba(0,0,0,0.15);
margin-bottom:20px;
}

h1{
font-size:42px;
margin:10px 0;
}

h1 span{
font-family:'Pacifico',cursive;
color:#ff6fa5;
}

.subtitle{
font-weight:600;
}

.description{
max-width:600px;
margin:auto;
color:#666;
}

section{
padding:70px 20px;
}

.skill-box{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

.skill-box span{
background:white;
padding:10px 15px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.timeline{
max-width:700px;
margin:auto;
text-align:left;
}

.item{
background:white;
padding:20px;
margin:15px 0;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:250px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

footer{
padding:40px;
background:#ffe3ef;
}
